/* Main container */
.container {
  display: flex;
  gap: 80px;
  max-width: 1200px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  padding: 60px;
  border-radius: 8px;
  background-color:#cfcde3b0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

/* Card shared styles */
.card1 {
  background-color: #bcb8e3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 30%;
}

.card2 {
  background-color:rgb(216, 237, 255);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 55%;
  max-height: 400px;
  overflow-y: auto;
}
.card2::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Edge, and Safari */
}




/* Form heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #292828;
}

/* Form inputs */
form input {
  width: 70%;
  padding: 12px;
  margin: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

/* Button styling */
button {
  padding: 10px 20px;
  margin: 10px 10px 0 0;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}  

form button:first-of-type {
  background-color: #2e9c47; /* Green for Start */
  color: white;
}
form button:last-of-type {
  background-color: #c23851; /* Red for Stop */
  color: white;
}

button[type="button"]:hover {
  background-color: #043366;
  color: white;
}

/* Logs section */
.logs{
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  background-color: #bcb8e3;
  font-size: 14px;
}

li:nth-child(even) {
  background-color: #f9f9f9;
}

